@charset "UTF-8";

body, .center {
	text-align: center;
}

#settings {
	margin: 0px 50px;
	text-align: left;
}

#wrapper {
	width: 700px;
}

.error {
	padding:2px;
	border:2px solid #CC0000;
	background-color: #FFCCCC;
	text-align:center;
	margin:5px 0px;
	margin-top:-15px;
}	

.title {
	font-weight: bold;
}
