[empty_file]

filename = empty_file.tpl
extension = txt
title = Empty file
de.title = Leere Datei

[basic_html]

filename = basic_html.tpl
extension = html
title = Basic HTML
de.title = HTML Grundgerüst

[advanced_html]

filename = advanced_html.tpl
extension = html
title = Advanced HTML
de.title = Erweitertes HTML Grundgerüst
